html  {
  font-family: arial, sans-serif;
  font-style: normal;
  font-size: 20px;
}

body  {
  background-color: lightgrey;
  width: 1200px
  margin: 0 auto;
}

h1,
h2,
h3,
h4  {
  color: #454545;
}

h1  {
  font-size: 42px;
  font-weight: bold;
}

.image-container img {
  display: block;
  width: 100%;
}

.flex-container {
  display: flex;
}

/* HEADER STYLING*/

header  {
  width: 100%;
  height: 64px;
  background-color: white;
}

header img  {
  height: 44px;
  display: inline;
}

header .flex-container  {
  justify-content: space-between;
}

li {
  display: inline-block;
}

.logo-container {
  height: 32px;
  font-size: 20px;
  display: inline;
  margin-left: 24px;
}

.bold-black {
  font-weight: bold;
}

.light-grey {
  font-weight: 100;
  color: grey;
  opacity: 0.9;
}

/*Banner Style*/

#banner .container {
  display: flex;
  justify-content: space-around;
}

#banner .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 30%;
}

#banner .image-container  {
  max-width: 60%;
  margin: 32px 24px;
}

#banner .button {
  text-align: center;
  color: white;
  background-color: #454545;
  width: 80%;
  padding: 8px;
  margin-top: 30px;
}
